################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Profiling.v12.suo
/src/Profiling/Profiling.csproj.user
/src/Profiling/bin
/src/Profiling/obj
/Help/Profiling_Help_Log.log
/Help/ProfilingHelp.shfbproj_Timon
/Help/Output
/ProfilingVisualizer
/src/TC.Profiling/obj/Debug
/src/TC.Profiling.v12.suo
/src/T.Utils.Tests
/src/ProfileViewer
