################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Profiling.v12.suo
/src/Profiling/Profiling.csproj.user
/src/Profiling/bin
/src/Profiling/obj
/Help/Profiling_Help_Log.log
/Help/ProfilingHelp.shfbproj_Timon
/Help/Output
/ProfilingVisualizer
/src/TC.Profiling/obj/Debug
/src/TC.Profiling.v12.suo
/src/T.Utils.Tests
/Help/TC.Profiling_Help_Log.log
/src/TC.Profiling_WithHelp.v12.suo
/src/TC.Profiling/obj/Release
/src/TC.Profiling/bin
/src/packages/TC.Logging.1.0.0/lib/net40/TC.Logging.xml
/src/packages/TC.Logging.1.0.0/lib/net40/TC.Logging.dll
/src/packages/TC.Logging.1.0.0/TC.Logging.1.0.0.nupkg
/src/ProfileViewer/bin/Debug
/src/ProfileViewer/obj/Debug
/src/.vs/TC.Profiling/v14
/src/packages
/src/ProfileViewer/obj/Release
